//- Replace these variables to generate a new page
- var title = "Tiling Interfaces Code Sprint";
- var date = "June, 12-14 2023";
- var deadline = "Monday, June 12 2023, 09:00 EDT";
- var tagline = "Featuring OGC API - Tiles, Maps, NSG & DGIWG WMTS profiles and more";
- var registration_link = "https://portal.ogc.org/public_ogc/register/230612tiling_codesprint.php";
- var schedule_link = "https://github.com/opengeospatial/developer-events/wiki/Tiling-Interfaces-Code-Sprint#schedule-calendar";
- var about = "A Code Sprint is an event where dozens of developers from around the world come together to code and share their ideas. The main goals of this code sprint are to support the development of tiling standards, more specifically: OGC API Tiles, OGC API Maps, the Vector Tiles Extension to GeoPackage, Variable Width Tile Matrix, the Changesets API and WMTS (DGIWG and NSG profiles). This code sprint will take place at Moonshot Labs (St. Louis, MO, US) and on the OGC's Discord events server. It is organized by the Open Geospatial Consortium (OGC) and it is hosted by the National Geospatial-Intelligence Agency (NGA).";
- var wiki_link = "https://github.com/opengeospatial/developer-events/wiki/Tiling-Interfaces-Code-Sprint";
- var fork_link = "https://github.com/opengeospatial/dev-ogc-org-sprint-landing-21";
- var location = "Moonshot Labs (St Louis, MO, US)";
- var location_link = "https://www.nga.mil/resources/Moonshot_Labs.html"
-
    var speakers = [
        {"src": "assets/img/gobe.jpeg", "alt": "Gobe", "h3": "Gobe Hobona",
        "p": "Director of Product Management, Standards OGC. "},
        {"src": "assets/img/smile_crop.jpg", "alt": "Joana", "h3": "Joana Simoes",
        "p": "Developer Relations at OGC, OSGeo Charter Member."},
        {"src": "assets/img/Amanda-Morgan-NGA.jpg", "alt": "Amanda", "h3": "Amanda Morgan",
        "p": "Technical Executive for GEOINT and IT Standards."}
        ];

- var start_date = "2023/06/12 09:00:00";
