//- Replace these variables to generate a new page
- var title = "Tiling Interfaces Code Sprint";
- var date = "June, 12-14 2023";
- var deadline = "Monday, June 12 2023, 09:00 EDT";
- var tagline = "Featuring OGC API - Tiles, Maps and more";
- var registration_link = "";
- var schedule_link = "";
- var about = "A Code Sprint is an event where dozens of developers from around the world come together to code and share their ideas. The main goals of this code sprint are to support the development of tiling standards, more specifically: OGC API Tiles, OGC API Maps, the Vector Tiles Extension to GeoPackage, Variable Width Tile Matrix, the Changesets API and WMTS (DGIWG and NSG profiles). This code sprint will take place at Moonshot Labs (St. Louis, MO, US) and on a virtual platform. It is organized by the Open Geospatial Consortium (OGC) and it is hosted by the National Geospatial-Intelligence Agency (NGA)";
- var wiki_link = "";
- var fork_link = "https://github.com/opengeospatial/dev-ogc-org-sprint-landing-21";
- var location = "Mundo Madou (Brussels, Belgium)";
- var location_link = "https://mundo-madou.org/en/"
-
    var speakers = [
        {"src": "assets/img/gobe.jpeg", "alt": "Gobe", "h3": "Gobe Hobona",
        "p": "Director of Product Management, Standards OGC. "},
        {"src": "assets/img/smile_crop.jpg", "alt": "Joana", "h3": "Joana Simoes",
        "p": "Developer Relations at OGC, OSGeo Charter Member."},
        {"src": "assets/img/jerome.jpeg", "alt": "Jerome", "h3": "Jérôme St-Louis",
        "p": "Co-Chair, OGC API - Tiles and OGC Styles and Symbology."},
        {"src": "assets/img/clemens.jpg", "alt": "Clemens", "h3": "Clemens Portele",
        "p": "Co-owner of interactive instruments, OGC API Standards Editor, ldproxy Contributor."},
        {"src": "assets/img/khrisna.jpeg", "alt": "Khrishna", "h3": "Krishna Lodha",
        "p": "Open source GIS Developer | Content Creator."},
        {"src": "assets/img/ivan.png", "alt": "Ivan", "h3": "Ivan Sanchez",
        "p": "Freelance GIS+JS developer; OSGeo charter member."}
        ];

- var start_date = "2023/06/12 09:00:00";
